<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Apps">

    <listeners>
        <listener class-name="utils.listners.TestListener"/>
        <listener class-name="utils.listners.AnnotationTransformer"/>
    </listeners>
    <test name="Demo">
        <classes>
            <!-- -->
            <class name="tests.SetupClass"/>
            <class name="tests.NewUserTests"/>
        </classes>
    </test>
</suite>